body {
    background-color: rgba(255, 207, 248, 0.804);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
}

h1 {
    color: #242222;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
